.preview {
  position: sticky;
  top: 0;
  .image_preview {
    width: 100%;
    position: sticky;
    top: 0;
    height: auto;
    //aspect-ratio: unset;
  }
}
.error_preview {
  position: relative;
  &:before {
    content: "Ой, ссылка потерялась...";
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    z-index: 2;
    font-size: calc((1vw + 1vh) * 1.5);
  }
}