.error_page {
  background-color: var(--clr-main);
  height: 100dvh;
  .error_page_wrapper {
    height: 100%;
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
    .error_headers {
      position: absolute;
      height: 100%;
      width: 100%;
      container-type: inline-size;
      * {
        color: var(--clr-wtext);
        font-size: clamp(40px, 7cqi, 80px);
        font-weight: 900;
      }
      :first-child {
        position: absolute;
        top: 0;
        left: 0;
      }
      :last-child {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        transition: font-size ease-out 1s;
        &:hover {
          font-size: clamp(50px, 8cqi, 90px);
        }
      }
    }
  }
}
