.login_wrapper {
  height: 100vh;
  background-color: #19292D;
  background-image: url("/assets/login.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.login {
  button {
    background-color: var(--clr-main);
    color: var(--clr-wtext);
    border: 1px solid var(--clr-wtext);
  }
}

