.toast {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  color: #E9EAF2;
  animation-name: toast;
  animation-duration: 5s;
  top: -50px;
  display: flex;
  gap: 1px;
  -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.43);
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.43);
  div {
    background-color: #19292D;
    padding: 10px 20px;
  }
}

.error {
  div:first-child {
    background-color: #fff;
    color: #19292D;
  }
}

@keyframes toast {
  0% {
    top: -50px;
  }
  20% {
    top: 10px;
  }
  80% {
    top: 10px;
  }
  100% {
    top: -50px;
  }
}

