.panel {
  background-color: #19292D;
  position: sticky;
  top: 0;
  padding: 40px;
}
.navigation {
  a {
    color: #505C5E;
    font-weight: 600;
    font-size: 1.5em;
    margin-right: 40px;
    &:hover {
      color: #E9EAF2;
    }
  }
  .active {
    color: #E9EAF2;
  }
}
.title {
  h1 {
    color: #E9EAF2;
    font-size: 3.5em;
  }
  h2 {
    color: #505C5E;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
  }
}
@media (max-width: 680px) {
  .navigation {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .panel {
    position: relative;
  }
}
