.panel {
  background-color: var(--clr-main);
  position: sticky;
  top: 0;
  padding: 3rem min(4vw, 3rem);
}
.navigation {
  a {
    color: var(--clr-wtext);
    font-weight: 600;
    font-size: 1.5rem;
    margin-right: 40px;
  }
  .active {
    color: #C0AD7F;
  }
}
.title {
  container-type: inline-size;
  h1 {
    color: #E9EAF2;
    font-size: clamp(30px, 8cqi, 70px);
  }
  h2, span {
    color: #C0AD7F;
    font-size: clamp(12px, 3cqi, 30px);
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
  }
}
.contacts {
  gap: 1rem;
  svg {
    width: 80px;
    height: 80px;
    cursor: pointer;
    text {
      font: 400 .9rem sans-serif;
      fill: var(--clr-bg);
    }
    circle {
      fill: var(--clr-main);
      stroke: var(--clr-bg);
      stroke-width: 1;
      animation-iteration-count: 1;
    }
    .tg {
      stroke-dasharray: 285;
      stroke-dashoffset: 280;
      animation: rotate_tg .5s linear;
      animation-fill-mode: forwards;
    }
    .git {
      stroke-dasharray: 285;
      stroke-dashoffset: -180;
      animation: rotate_git .5s linear;
      animation-fill-mode: forwards;
    }
    .cv {
      stroke-dasharray: 70;
      stroke-dashoffset: 200;
      animation: rotate_cv .5s linear;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes rotate_tg {
  to {
    stroke-dashoffset: 140;
  }
}
@keyframes rotate_git {
  to {
    stroke-dashoffset: -50;
  }
}
@keyframes rotate_cv {
  to {
    stroke-dashoffset: 300;
  }
}


@media (max-width: 680px) {
  .navigation {
    flex-direction: column;
  }
}
@media (max-width: 1140px) {
  .panel {
    position: relative;
  }
}
