.introductionWrapper {
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.introduction__avatar {
  img {
    width: 100%;
  }
}
.presentation__box {
  h3 {
      position: relative;
      color: var(--clr-main);
      display: block;
      font-size: 2em;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      font-weight: bold;
  }
  p {
    color: #505C5E;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  a {
    text-decoration: underline #19292D;
    color: #19292D;
    font-size: 1em;
    font-weight: 800;
  }
}
.projects_statistic {
  gap: 20px;
  span {
    color: #19292D;
    font-size: 3em;
    font-weight: 800;
    margin-right: 10px;
  }
  p {
    color: #19292D;
    font-size: 1em;
    font-weight: 500;
    flex-wrap: wrap;
  }
}
@media (max-width: 1400px) {
  .introductionWrapper  {
    height: unset;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}
