.introductionWrapper {
  position: relative;
  background-color: #19292D;
}
.introduction__avatar {
  position: absolute;
    inset: 0;
  margin: auto;
  width: min(30vw, 400px);
  height: min(30vw, 400px);
  img {
      width: 100%;
  height: 100%;
  object-fit: cover;
  }
}
@media (max-width: 1140px) {
  .introductionWrapper {
    display: none;
  }
}