.introductionWrapper {
  position: relative;
  height: 100dvh;
  background-color: #19292D;
  grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: repeat(5, 1fr);
}
.introduction__avatar {
  position: absolute;
  grid-column: 2/2;
  grid-row: 2/4;
  border: 5px solid var(--clr-bg);
  box-sizing: border-box;
  img {
    width: 100%;
  }
  .qr_box {
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 90px;
    aspect-ratio: 1/1;
    background-color: var(--clr-bg);
    border-radius: 1rem;
    background-image: url("/assets/qr-code.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 1140px) {
  .introductionWrapper {
    display: none;
  }
}
