@import "fonts";
@import './display';
@import './spacing';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Open Sans', sans-serif;
  background-color: #E9EAF2;
}

a {
  color: inherit;
  text-decoration: none;
}
.grid {
  position: relative;
  grid-template-columns: 2.5fr 3fr;
}
.column {
  height: 100vh;
}
.border-box {
  box-sizing: border-box;
}
.error {
  top: 0;
  right: 0;
  color: #b80f0a;
  font-size: 12px;
}
@media (max-width: 1000px) {
  .grid {
    display: block;
    grid-template-columns: none;
  }
}


