.about {
  position: relative;
  .introduction__bg {
    background-image: url("/assets/me.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    .introduction__bg_dark {
      width: inherit;
      height: inherit;
      background-color: rgba(0, 0, 0, .5);
    }
  }
  .introduction {
    padding: 2.5rem 0;
    padding-inline: 2rem;
    background: none;
      .introduction__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3 {
          color: var(--clr-main);
          font-size: calc(var(--sizeindex) * 4);
          margin: 0;
          font-weight: 700;
        }
        h3:last-child {
          color: #C0AD7F;
          font-size: calc(var(--sizeindex) * 1);
        }
      }
      p {
        color: var(--clr-bg);
        font-weight: 300;
      }
      .introduction__contacts {
        justify-content: space-around;
        gap: 1rem;
        a {
          border: 1px solid var(--clr-bg);
          padding: 10px max(0.5vw, 20px);
          font-weight: 300;
          border-radius: 30px;
          font-size: calc(var(--sizeindex) * .5);
          color: var(--clr-bg);
        }
    }
  }
  .education {
    padding: 2.5rem 0;
    padding-inline: 2rem;
    background-color: var(--clr-bg);
    height: 100vh;
  }
}